---
layout: base
permalink: '/'
---

<div class="row mt-5">
  <div class="col">
  {% for post in site.posts limit: 1 %}
  <a href="{{ post.url }}" style="text-decoration: none;">
<div class="card bg-dark text-white">
  <img src="assets/img/featured_image/{{ post.featured_image }}" style="object-fit: cover; height: 400px;" class="card-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</a>
{% endfor %}
</div>
</div>


<section class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-3">
  {% for post in site.posts offset: 1 limit: 3 %}
  <div class="col">
    <div class="text-center card h-100" id="index-card">
      <div class="mh-50">
      <a href="{{ post.url }}"><img class="card-img-top mh-50 p-5" src="assets/img/featured_image/{{ post.featured_image }}"
          alt="{{ post.featured_image_desc }}"></a>
        </div>
      <div class="card-body mt-auto">
        <small class="text-muted">{{ post.date | date:"%d %B %Y" }}</small>
        <h3 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
      </div>
    </div>
  </div>
  {% endfor %}
</section>


<section class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 my-3">
  {% for post in site.posts offset: 4 limit: 2%}
  <div class="col">
    <div class="text-center card h-100" id="index-card">
      <div class="mh-50">
      <a href="{{ post.url }}"><img class="card-img-top mh-50 p-2"  src="assets/img/featured_image/{{ post.featured_image }}"
          alt="{{ post.featured_image_desc }}"></a>
        </div>
      <div class="card-body mt-auto">
        <small class="text-muted">{{ post.date | date:"%d %B %Y" }}</small>
        <h3 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
