<header>
  <nav id="navbar">
    <a href="{{ "/index.html" | relative_url }}"
      ><img
        class="logo"
        alt="Inwestycja Długoterminowa"
        src="{{ "/assets/img/penguin_logo.svg" | relative_url }}"
    /></a>
    <ul>
      <li><a href="{{ "/index.html" | relative_url }}">START</a></li>
      <li><a href="">ANALIZY</a></li>
      <li><a href="#">FINANSE I INWESTYCJE</a></li>
      <li><a href="#">NAUKA</a></li>
      <li><a href="#">KONTAKT</a></li>
    </ul>
      <div class="copy">
        <p>
          &copy; InwestycjaDługoterminowa.pl
        </p>
      </div>
  </nav>
</header>
