<header>
  <nav id="navbar">
    <a href="{{ site.baseurl }}/index.html"
      ><img
        class="logo"
        src="{{ site.baseurl }}/assets/img/penguin_logo.svg"
        alt="Inwestycja Długoterminowa"
    /></a>
    <ul>
      <li><a href="{{ site.baseurl }}">START</a></li>
      <li><a href="">ANALIZY</a></li>
      <li><a href="#">FINANSE I INWESTYCJE</a></li>
      <li><a href="#">NAUKA</a></li>
      <li><a href="#">KONTAKT</a></li>
    </ul>
      <div class="copy">
        <p>
          &copy; InwestycjaDługoterminowa.pl
        </p>
      </div>
  </nav>
</header>
