<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img src="{{ base.url }}/assets/img/penguin_logo.svg" alt="Inwestycja Długoterminowa" id="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for item in site.data.navigation %}
          {% if item.name == "Kategorie" %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kategorie
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" {% if page.url == item.link %} class="active" {% endif %} href="{{ base.url }}/categories/">Wszystkie</a></li>
              <li><hr class="dropdown-divider"></li>
              {% for category in site.categories %}
              {% assign category_name = category | first %}
                <li><a class="dropdown-item" {% if page.url == item.link %} class="active" {% endif %} href="{{ base.url }}/{{ category_name }}">{{ category_name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="nav-item" >
            <a class="nav-link" {% if page.url == item.link %} class="active" {% endif %} aria-current="page" href="{{ item.link }}"> {{ item.name }} </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>