$nav-background-color: #f3f3f3;
$primary-color: #bf9f5a;
$secondary-color: #333;

// DEFAULTS

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  background: #fff;
}

#main-footer {
  position: relative;
  bottom: 0;
}

a {
  text-decoration: none;
  color:  $primary-color;
}

a:hover {
  text-decoration: underline;
  color:  $primary-color;
}

#logo {
  width: 250px;
  height: auto;
}

#index-card {

  a {
    text-decoration: none;
    color: $secondary-color;
  }

  a:hover {
    color: $primary-color;
  }
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}